

body {
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 200;
    justify-content: center;
}
header {
    background-color:teal;
    margin: auto;

}

.header-container {
    color: white;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: auto;
}

.header-navigation{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.header-navigation a {
    color: white;
    padding: 14px 16px;
    
    
}
/*
.header-navigation {
    display: flex;
    justify-content: center;

}

.contacts-list {
    display: flex;
    justify-content: center;

}
*/